In [66]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
import math

In [67]:
cols=["sex","length","diameter","height","whole_wght","shucked_wght","viscera_wght","shell_wght","rings"]
data=pd.read_csv("/home/krulvain/datasets/abalone/abalone.csv",header=None,names=cols)

In [68]:
data.dtypes

sex              object
length          float64
diameter        float64
height          float64
whole_wght      float64
shucked_wght    float64
viscera_wght    float64
shell_wght      float64
rings             int64
dtype: object

In [69]:
data.head()

,sex,length,diameter,height,whole_wght,shucked_wght,viscera_wght,shell_wght,rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [70]:
data.describe()

,length,diameter,height,whole_wght,shucked_wght,viscera_wght,shell_wght,rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [71]:
data.loc[data.sex =="M","sex"]="G"
data.loc[data.sex =="F","sex"]="G"

In [72]:
lenc=LabelEncoder()
data.iloc[:,0]=lenc.fit_transform(data.iloc[:,0])

In [73]:
data["act_tot_wght"]=data["shucked_wght"]+data["viscera_wght"]+data["shell_wght"]

In [74]:
print(data["whole_wght"]-data["act_tot_wght"])

0       0.0385
1       0.0075
2       0.0690
3       0.0315
4       0.0210
5       0.0130
6       0.0690
7       0.0645
8       0.0155
9       0.1090
10      0.0550
11      0.0225
12      0.0390
13      0.0360
14      0.0425
15      0.0335
16      0.0410
17      0.0460
18      0.0155
19      0.0205
20      0.0130
21      0.0115
22      0.0280
23      0.0355
24      0.0425
25      0.0580
26      0.0440
27      0.0610
28      0.0285
29      0.0435
         ...
4147    0.1325
4148    0.3690
4149    0.0095
4150    0.0010
4151    0.0095
4152    0.0025
4153    0.0140
4154    0.0105
4155    0.0185
4156    0.0180
4157    0.0130
4158    0.0195
4159    0.0320
4160    0.0780
4161    0.0215
4162    0.0205
4163    0.0145
4164    0.0145
4165    0.0150
4166    0.0225
4167    0.0280
4168    0.0290
4169    0.0545
4170    0.0880
4171    0.0665
4172    0.0290
4173    0.0520
4174    0.0550
4175    0.0065
4176    0.1315
Length: 4177, dtype: float64

In [75]:
data.drop(["whole_wght"],axis=1,inplace=True)

In [76]:
data=data[["sex","length","diameter","height","shucked_wght","viscera_wght","shell_wght","act_tot_wght","rings"]]

In [77]:
features=data.iloc[:,:-1]
target=data.iloc[:,-1]

In [78]:
cols=list(data.columns[:-1])
def vif():
    for x in range(len(cols)):
        try:
            y=features.iloc[:,features.columns == cols[x]]
            X=features.iloc[:,features.columns !=cols[x]]
            mod=LinearRegression()
            mod.fit(X,y)
            print(" i={} name of col={},  vif= {}".format(x,cols[x],1/(1-mod.score(X,y))))
        except ZeroDivisionError:
            continue
vif()

 i=0 name of col=sex,  vif= 1.5160577177199546
 i=1 name of col=length,  vif= 40.93815809654125
 i=2 name of col=diameter,  vif= 42.33117557656818
 i=3 name of col=height,  vif= 3.5784019948331207
 i=4 name of col=shucked_wght,  vif= inf
 i=5 name of col=viscera_wght,  vif= inf
 i=6 name of col=shell_wght,  vif= inf
 i=7 name of col=act_tot_wght,  vif= inf

/home/krulvain/ml/lib/python3.6/site-packages/ipykernel_launcher.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  if __name__ == '__main__':
/home/krulvain/ml/lib/python3.6/site-packages/ipykernel_launcher.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  if __name__ == '__main__':
/home/krulvain/ml/lib/python3.6/site-packages/ipykernel_launcher.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  if __name__ == '__main__':
/home/krulvain/ml/lib/python3.6/site-packages/ipykernel_launcher.py:9: RuntimeWarning: divide by zero encountered in double_scalars
  if __name__ == '__main__':

In [79]:
data.drop(["sex","diameter"],axis=1,inplace=True)

In [80]:
data.head()

   length  height  shucked_wght  viscera_wght  shell_wght  act_tot_wght  rings
0   0.455   0.095        0.2245        0.1010       0.150        0.4755     15
1   0.350   0.090        0.0995        0.0485       0.070        0.2180      7
2   0.530   0.135        0.2565        0.1415       0.210        0.6080      9
3   0.440   0.125        0.2155        0.1140       0.155        0.4845     10
4   0.330   0.080        0.0895        0.0395       0.055        0.1840      7

In [81]:
featuresn=data.iloc[:,:-1]
target=data.iloc[:,-1]
trn_inpn,tes_inpn,trn_outn,tes_outn=tts(features,target,random_state=0)

In [82]:
modeln=LinearRegression()
modeln.fit(trn_inpn,trn_outn)
trn_prdn=modeln.predict(trn_inpn)
tes_prdn=modeln.predict(tes_inpn)

In [83]:
print("r2_Score={}".format(r2_score(tes_outn,tes_prdn)))
print("rmse testing={}".format(math.sqrt(mean_squared_error(tes_outn,tes_prdn))))
print("rmse testing={}".format(math.sqrt(mean_squared_error(trn_outn,trn_prdn))))

r2_Score=0.5318316442551694
rmse testing=2.21800017721091
rmse testing=2.2379151623108116